/* Variables */
$color_1: #4e89ae;
$color_2: #43658b;
$color_3: #ed6663;
$color_4: #ffa372;
$hover_color: #444;
$bg_color: #8ccff7;
$first_circle: 70px;
$first_circle: 80px;
$first_circle: 90px;
$first_circle: 100px;
