/* Resetting styles for all elements */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styling for the body of the page */
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #EBECF0;
    font-family: sans-serif;
}

/* Styling the wrapper that centers the content */
.wrapper{
    margin: 0 auto;
    background-color: white;
}

/* Styling for the first image container */
.image1{
    margin-right: 20px;
}

/* Styling the container which has 6 images in it */
.images-container{
    display: flex;
    flex-wrap: wrap;
    
}

/* Styling images within the container */
.image{
    flex-basis: calc(33.33%);
}

/* Styling for images inside an image container */
.image img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* Styling the main content */
main{
    padding: 20px;
    overflow: hidden;
}

/* Styling for section which is in the main content */
section{
    width: 100%;
    float: left;
    text-align: justify;
}

/* Styling the article within the sections */
article{
    padding: 10px 0;
}

/* Styling the footer content */
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
}

/* When max-width is 480px */

@media screen and (max-width: 480px) {
    /* Adjustments made for the wrapper and layout for a smaller screen */
    .wrapper {
        width: 100%;
    }

    .image1 {
        margin-right: 0;
    }

    .images-container {
        flex-direction: column;
        align-items: center;
    }

    .image {
        flex-basis: 100%;
    }

    main {
        padding: 10px;
    }

    section {
        width: 100%;
        float: none;
        text-align: left;
    }

    article {
        padding: 10px 0;
    }

    body {
        font-size: 14px;
    }

    .footer {
        padding: 5px 0;
    }

    .image img{
        max-width: 100%;
        height: auto;
    }    
}

/* When min-width is 481px and max-width is 800px */

@media screen and (min-width: 481px) and (max-width: 800px) {
    /* Adjustments made for the wrapper and layout for medium screen */
    .wrapper {
        width: 100%;
    }

    .image1 {
        max-width: 30%;
        margin-right: 10px;
    }

    .images-container {
        display: flex;
        flex-wrap: wrap;
    }

    .image {
        flex-basis: calc(50%);
    }

    main {
        padding: 10px;
    }

    section {
        width: 100%;
        float: none;
        text-align: left;
    }

    .footer {
        padding: 15px 0;
    }
    
}

/* When min width is 801px and max width is 1024px */

@media screen and (min-width: 801px) and (max-width: 1024px) {
    /* Adjustments made for the wrapper and layout for larger screen */
    .wrapper {
        width: 100%;
    }

    .images-container {
        display: flex;
        flex-wrap: wrap;
    }

    .image {
        flex-basis: calc(33.33%);
    }

    .image1 {
        max-width: 20%;
        margin-right: 10px;
    }

    main {
        padding: 10px;
    }

    section {
        width: 100%;
        float: none;
        text-align: left;
    }

    .footer {
        padding: 15px 0;
    }   
}

/* When min width is 1025px */

@media screen and (min-width: 1025px) {
    /* Adjustments made for the wrapper and layout for extra-large screen */
    .wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .images-container {
        display: flex;
        flex-wrap: wrap;
    }

    .image {
        flex-basis: calc(33.33%);
    }

    .image1 {
        max-width: 20%;
        margin-right: 10px;
    }

    main {
        padding: 10px;
    }

    section {
        width: 100%;
        float:none;
        text-align: left;
    }

    .footer {
        padding: 15px 0;
    }
    
}