/* Styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styles*/
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #EBECF0;
    font-family: sans-serif;
}

/* Wrapper Styles*/
.wrapper {
    margin: 0 auto;
    background-color: #D3D3D3;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
    background-color: #1E90FF;
    color: white;
}

#nav-title {
    margin-left: 5px;
}

#header {
    margin: 0;
    font-size: medium;
}

#search {
    text-align: center;
}

#search_bar {
    width: 200px;
    height: 25px;
}

#nav-links {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: small;
    margin-left: 10px;
}

nav a:visited {
    color: white;
}

/* Main Content Styles */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em;
    width: 1050px;
    margin: 15px auto;
}

.container img {
    height: auto;
    width: 100%;
    display: block;
}

.image1, .image2 {
    width: 100%;
    box-sizing: border-box;
}

.image1 img, .image2 img {
    width: 100%;
    height: auto;
    display: block;
}

.image1 .information, .image2 .information {
    background-color: white;
    padding: 10px;
    overflow: auto;
    text-align: left;
}

.image2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    overflow: auto;
    padding: 0%;
    margin: 0 auto;
    width: 100%;
    grid-template-rows: 1fr;
}

.content1, .content2, .content3, .content4 {
    background-color: white;
    padding: 13px;
    border: 10px solid #00000020;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}

/* Header Styles */
.image1 h1,
.image2 h1 {
    font-size: 17px;
}

/* Text Styles */
.image1 p,
.image2 p {
    font-size: 11px;
    font-weight: 300;
    line-height: 1.6;
    padding: 10px 0;
}

/* Buttons Styles */
.image1 button,
.image2 button {
    float: right;
    color: white;
    background-color: #1E90FF;
    font-size: 12px;
    padding: 8px 9px;
    margin: 5px 1px;
    border-radius: 0px;
    border: none;
}

/* Footer Styles */
footer{
    text-align: center;
    font-size: 13px;
    padding: 1.5em;
}

/* When min-width is 1280 */
@media (min-width: 1281px) {
    .container {
        width: 80%;
    }

    #mobile-menu {
        display: none;
    }
}

/* When min-width is 1025px and max-width is 1280px */
@media (max-width: 1280px) {
    .container {
        width: 95%;
    }

    #mobile-menu {
        display: none;
    }
}

/* When min-width is 801px and max-width is 1024px */
@media (max-width: 1024px) {
    .container {
        grid-template-columns: 2fr 1fr;
    }

    .image2 {
        grid-template-columns: repeat(1,1fr);
    }

    #mobile-menu {
        display: none;
    }
}

/* When min-width is 481px and max-width is 800px */
@media (max-width: 800px) {
    .container {
        grid-template-columns: repeat(1,1fr);
    }

    .image2 {
        grid-template-columns: repeat(2,1fr);
    }

    .image1 h1,
    .image2 h1 {
        font-size: 20px;
    }

    #search {
        display: none;
    }

    #nav-links {
        display: none;
    }

    #mobile-menu {
        display: block;
        text-align: center;
        padding: 10px;
        color: white;
        font-size: small;
    }
}

/* When max-width is 480px and below */
@media (max-width: 480px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .image2 {
        grid-template-columns: repeat(1, 1fr);
    }
}